$main_font: 'Poppins', sans-serif;
$main_dark_color : #000;
$main_font_color : #fff;
$main_btn_color : #C41C1C;
$sub_btn_color: #141414;
$sub_main_line_color : #ffffff60;
$sub_main_color: #ffffffd0;
$transparent_color: #000000d8;



