.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0;
    background-color: rgb(225, 247, 247);
    min-height: 5vh;
    .nav-left {
        display: flex;
        margin-left: 0.5rem;
        margin-right: auto;
        .minerva h3 {
            padding: 0;
            margin: 0;
        }
    }
    .nav_right {
        .courses,
        .categories,
        .about {
            margin-right: 1rem;
            font-weight: 500;
            font-size: large;
        }
    }
}
