

    .bottomnav {
        display: flex;
        align-items: center;
        position: relative;
        width: 99vw;
        bottom: 0;
        min-height: 5vh;
        background-color: rgb(6, 75, 57);
        
        &_left {
            margin-left: 0.5rem;
            margin-right: auto;
            p{
                
            color: aliceblue;
            }
        }

        &_right {
            
                a{
                margin-right: 1rem;
                font-weight: 500;
                font-size: large;
                
            color: aliceblue;
                }
            
        }
    }
