.hero_section {
    background-color: $bg-color;
    width: 100vw;
    .section-1 {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .hero_caption {
            text-align: center;
            font-size: 3.5rem;
        }
        .hero_tagline {
            text-align: center;
            font-size: 1.6rem;
        }
        form {
            margin: 2rem 0;
            .searchbar {
                display: flex;
                input {
                    padding: 0.7rem 23rem 0.7rem 0.3rem;
                    margin-right: 0.5rem;
                    border: 2px solid rgb(114, 112, 112);
                    outline: none; // Removes the default browser outline on focus
                    border-radius: 0.5rem;
                    &:focus {
                        border-color: $green-color; // Change border color when focused (you can pick any color)
                        box-shadow: 0 0 5px $green-color; // Optional: Add a subtle shadow for a highlighting effect
                    }
                }

                button {
                    display: flex; // Flexbox helps align items easily
                    align-items: center; // Vertically center the items (image and text)
                    padding: 0.5rem 1rem; // Adjust padding as necessary
                    font-size: 1rem;
                    img {
                        height: 1.4em; // Set the image height relative to the text
                        margin-right: 0.5rem; // Add space between the image and the text
                    }
                }
            }
        }
    }
    .section-2 {
        margin-bottom: 2rem;
        h2 {
            text-align: center;
            font-size: 2.5rem;
        }
        .reasons {
            margin-top: 2rem;
            display: flex;
            .reason-1,
            .reason-2 {
                margin-right: 11rem;
            }
            .reason-1,
            .reason-2,
            .reason-3 {
                width: 100%;
                text-align: center;
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }
                p {
                    font-size: 1.3rem;
                }
            }
        }
    }
}
